.modal {
    display: flex;
    /* Set modal container as flex */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    color: #9F9F9F;
    font-weight: 500;
}


/* Modal Content */

.content {
    display: flex;
    background-color: #fefefe;
    padding: 30px 80px;
    border: 1px solid #888;
    width: 35%;
    /* Increased width to 80% */
    min-width: 500px;
    /* Adjusted max width */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.modal .content button:hover {
    box-shadow: 0px 0px 25px 0px #00000026;
}

.modal .content .quizName {
    background-color: #FFFFFF;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    color: #9F9F9F;
}

.modal .content .quizName::placeholder {
    color: #9F9F9F;
    /* Placeholder text color */
    background-color: #FFFFFF;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.radio-button {
    display: flex;
    /* padding: 7px 50px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
    background-color: #FFFFFF;
    cursor: pointer;
    /* box-shadow: 0px 0px 25px 0px #00000026; */
    font-weight: 500;
    color: #9F9F9F;
}

.typeButton {
    display: flex;
    margin: 1rem 3rem;
    justify-content: center;
    align-items: center;
}

.typeButton label {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #9F9F9F;
}

.type-button {
    /* ... your default button styles ... */
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    /* padding: 7px 50px; */
    border: 1px solid #ccc;
    height: 50px;
    margin: 10px 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-weight: 500;
    color: #9F9F9F;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.type-button.active {
    background-color: #60B84B;
    /* Or any color you prefer */
    color: #FFFFFF;
}

.typeText {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: center;
}


/* /////////////////////////////////////////////// */


/* Media query for smaller screens */


/* ////////////////////////////// */

form {
    display: flex;
    flex-direction: column;
}

.quizDetails {
    display: flex;
}

.typeButton1 {
    display: flex;
    flex: 1;
    color: white;
    justify-content: space-around;
    /* Distribute items evenly */
    align-items: center;
    width: 100%;
    /* Take up the full width */
    margin: 10px 50px;
    /* Adjust margin as needed */
    /* background-color: red; */
    /* Remove red background */
}

.typeButton1 label {
    color: #9F9F9F;
    display: flex;
    align-items: center;
    /* Other label styles as needed */
}

.typeButton1 label:first-child {
    display: flex;
    flex: 1;
    /* background-color: rebeccapurple; */
}


/* Media query for smaller screens */

.quizName {
    border-radius: 10px;
    height: 4rem;
    flex: 0.9;
    margin: 10px 0px;
    border: #FFFFFF;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    &::placeholder {
        color: #9F9F9F;
    }
    padding-left: 20px;
    &:focus {
        outline: none;
        border: none;
    }
}

.quizIndex {
    font-size: '20px';
    width: 20px;
    /* Adjust the size as needed */
    height: 20px;
    border-radius: 50%;
    /* Creates the circular shape */
    border: 2px solid #FFFFFF;
    display: flex;
    /* Use flexbox for easy centering */
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 10px;
    /* Add padding inside the circle */
    box-shadow: 0px 0px 10px 0px #00000026;
    color: #9F9F9F;
    position: relative;
}

.quizIndex .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    /* Adjust as needed for vertical positioning */
    right: 0px;
    /* Adjust as needed for horizontal positioning */
    font-weight: 300;
    font-size: 22px;
}

.quizIndex .close:hover,
.quizIndex .close:focus {
    color: #aaa;
    filter: invert(70%);
    /* Or any other filter you like */
    text-decoration: none;
    cursor: pointer;
}

.plus:hover,
.plus:focus {
    filter: invert(100%);
    /* Or any other filter you like */
    text-decoration: none;
    cursor: pointer;
}

input[type="button"]:disabled,
button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

.modal .content button {
    width: 171px;
    height: 46px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    white-space: nowrap;
}

.buttons .cancel {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px 0px #00000040;
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: left;
    color: var(--fontColor1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    height: 46.14px;
    margin: 25px 0px;
}

button {
    cursor: pointer;
}

.buttons button {
    font-weight: 600;
    font-size: 15px;
    flex: 1;
    margin: 5px 30px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 0px 15px 0px #00000040;
    border: #FFFFFF;
}

.createQuiz {
    background-color: #60B84B;
    box-shadow: 0px 0px 15px 0px #00000040;
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: left;
    color: var(--fontColor1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: red; */
    max-width: 600px;
}

.typeFields {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.typeFields .optionGroup {
    flex: 1;
    display: flex;
    /* background-color: red; */
}

.typeFields .optionGroup .options {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.typeFields .optionGroup .options .option {
    color: black;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.typeFields .optionGroup .options .option label {
    display: flex;
    flex: 1;
    /* Use flexbox for layout */
    align-items: center;
    /* Vertically align items to the center */
}


/* .option input[type="radio"] {
    margin-right: 10px;
} */

.typeFields .optionGroup .options .option input[type="radio"]:checked+.radio-button input[type="text"] {
    background: #60B84B;
    color: #FFFFFF;
}

.typeFields .optionGroup .options .option input[type="radio"]:checked+.radio-button input[type="url"] {
    background: #60B84B;
    color: #FFFFFF;
}

.typeFields .optionGroup .options .option input[type="text"] {
    flex: 1;
    gap: 10px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    background: #FFFFFF;
    color: var(--fontColor1);
    border: transparent;
    padding: 0.5em;
    box-shadow: 0px 0px 25px 0px #00000026;
}

.typeFields .optionGroup .options .option input[type="text"]:focus {
    outline: none;
}

.typeFields .optionGroup .options .option input[type="url"]:focus {
    outline: none;
}

.typeFields .optionGroup .options .option input[type="url"] {
    background: #FFFFFF;
    color: var(--fontColor1);
    flex: 1;
    height: 30px;
    margin: 10px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    border: transparent;
    padding: 0.5em;
    box-shadow: 0px 0px 25px 0px #00000026;
}


/* input[type='radio'] {
    background-color: white;
    border: 2px solid #D9D9D9;
}

input[type="radio"]:checked {
    background-color: lightgreen;
    border-color: green;
}

input[type="radio"]:not(:checked) {
    background-color: white;
} */

.addOption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
}

.addOption button {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor1);
    flex: 0.7;
    height: 30px;
    margin: 10px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    box-shadow: 0px 0px 15px 0px #00000026;
}


/* Allow the input to grow and take up available space */

.timers {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 3rem;
}

.timers button {
    font-weight: 400;
    font-size: 11px;
    flex: 1;
    margin: 10px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #00000026;
    border: #FFFFFF;
    background-color: #FFFFFF;
    /* padding: 0px 30px; */
    height: 25px;
    /* Adjust this value to your desired height */
    color: #9F9F9F;
}

.timers span {
    color: #9F9F9F;
}

.timers .timer-active {
    background-color: #D60000;
    color: white;
}