.dashboardPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.statGrid {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* Responsive columns */
    gap: 40px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0px 70px;
}

.stats {
    /* Center align text within each stat */
    padding: 20px 80px;
    /* Add padding for visual spacing */
    border-radius: 10px;
    /* Rounded corners */
    background-color: white;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.stats .data-container {
    display: flex;
    align-items: baseline;
    width: fit-content;
    justify-content: flex-start;
}

.stats .nLine {
    display: flex;
    align-items: baseline;
    width: fit-content;
    justify-content: flex-start;
}

.stats .data-label {
    margin-left: 5px;
    /* Add some space between the data and the label */
}

.data {
    font-size: 40px;
    /* Large font size for the numbers */
    font-weight: bold;
    /* Make the numbers bold */
}

.stats:nth-child(1) {
    color: #FF5D01;
}

.stats:nth-child(2) {
    color: #60B84B;
}

.stats:nth-child(3) {
    color: #5076FF;
}

.TrendingQuiz {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.trendQuizGrp {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    /* Use 25% for 4 columns */
    gap: 20px;
}

.trendQuiz {
    width: 181px;
    height: 62px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #FFFFFF;
    color: #474444;
    padding: 10px;
}

.trendQuiz .trendHead {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.trendQuiz .trendHead .views {
    display: flex;
    flex-direction: row;
    color: #FF5D01;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
}

.trendQuiz .trendHead .views img {
    height: 20px;
    width: 20px;
}

.createdOn {
    color: #60B84B;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 600;
    line-height: 16.5px;
    text-align: left;
}

.trendQuizGrp a {
    text-decoration: none;
}