.radio-button {
    display: flex;
    /* padding: 7px 50px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
    background-color: #FFFFFF;
    cursor: pointer;
    /* box-shadow: 0px 0px 25px 0px #00000026; */
    font-weight: 500;
    color: #9F9F9F;
}

.typeButton {
    display: flex;
    margin: 1rem 3rem;
    justify-content: center;
    align-items: center;
}

.typeButton label {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #9F9F9F;
}

.type-button {
    /* ... your default button styles ... */
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    /* padding: 7px 50px; */
    border: 1px solid #ccc;
    height: 30px;
    margin: 10px 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-weight: 500;
    color: #9F9F9F;
    justify-content: center;
    align-items: center;
}

.type-button.active {
    background-color: #60B84B;
    /* Or any color you prefer */
    color: #FFFFFF;
}


/* /////////////////////////////////////////////// */

@media (max-width: 600px) {
    .typeButton1 {
        flex-direction: 'column';
        align-items: 'flex-start';
    }
}


/* Media query for smaller screens */


/* ////////////////////////////// */


/* .typeButton1 label:nth-of-type(2) {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.typeButton1 label div {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.typeButton1 label:first-child {
    display: flex;
    flex: 1;
} */


/* .typeButton1 div label:nth-of-type(2) {
    background-color: red;
} */

.quizName {
    border-radius: 10px;
    height: 4rem;
    flex: 0.9;
    margin: 10px 0px;
    border: #FFFFFF;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
    &::placeholder {
        color: #9F9F9F;
    }
    padding-left: 20px;
    &:focus {
        outline: none;
        border: none;
    }
}

.quizIndex {
    font-size: '20px';
    width: 20px;
    /* Adjust the size as needed */
    height: 20px;
    border-radius: 50%;
    /* Creates the circular shape */
    border: 2px solid #FFFFFF;
    display: flex;
    /* Use flexbox for easy centering */
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 10px;
    /* Add padding inside the circle */
    box-shadow: 0px 0px 10px 0px #00000026;
    color: #9F9F9F;
    position: relative;
}

.quizIndex .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    /* Adjust as needed for vertical positioning */
    right: 0px;
    /* Adjust as needed for horizontal positioning */
    font-weight: 300;
    font-size: 22px;
}

.quizIndex .close:hover,
.quizIndex .close:focus {
    color: #aaa;
    filter: invert(70%);
    /* Or any other filter you like */
    text-decoration: none;
    cursor: pointer;
}

.plus:hover,
.plus:focus {
    filter: invert(100%);
    /* Or any other filter you like */
    text-decoration: none;
    cursor: pointer;
}

input[type="button"]:disabled,
button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

.cancel {
    background-color: #FFFFFF;
}

.buttons {
    display: flex;
    height: 46.14px;
    margin: 25px 0px;
}

button {
    cursor: pointer;
}

.buttons button {
    font-weight: 600;
    font-size: 15px;
    flex: 1;
    margin: 5px 30px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 0px 15px 0px #00000040;
    border: #FFFFFF;
}

.createQuiz {
    background-color: #60B84B;
    color: #FFFFFF;
    text-wrap: nowrap;
}

.quizList {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.typeButton1 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.typeFields {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeFields .optionGroup {
    flex: 0.9;
    display: flex;
}

.typeFields .optionGroup .options {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.typeFields .optionGroup .options .option {
    color: black;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.typeFields .optionGroup .options .option label {
    display: flex;
    flex: 1;
    /* Use flexbox for layout */
    align-items: center;
    /* Vertically align items to the center */
}

.option input[type="radio"] {
    margin-right: 10px;
    /* Add some space between the radio button and the input */
}

.option input[type="radio"]:checked+.radio-button input[type="text"] {
    background: #60B84B;
    color: #FFFFFF;
}

.option input[type="radio"]:checked+.radio-button input[type="url"] {
    background: #60B84B;
    color: #FFFFFF;
}

.option input[type="text"] {
    flex: 1;
    display: flex;
    padding: 5px 50px;
    border: 1px solid #ccc;
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-weight: 500;
    color: #9F9F9F;
    justify-content: center;
    align-items: center;
}

.option input[type="url"] {
    flex: 1;
    display: flex;
    padding: 5px 50px;
    border: 1px solid #ccc;
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #00000026;
    font-weight: 500;
    color: #9F9F9F;
    justify-content: center;
    align-items: center;
}


/* Allow the input to grow and take up available space */

.typeFields .optionGroup .timers {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 3rem;
}

.typeFields .optionGroup .timers button {
    font-weight: 400;
    font-size: 11px;
    flex: 1;
    margin: 3px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #00000026;
    border: #FFFFFF;
    background-color: #FFFFFF;
    padding: 0px 30px;
    height: 25px;
    /* Adjust this value to your desired height */
    color: #9F9F9F;
}

.typeFields .optionGroup .timers span {
    color: #9F9F9F;
}

.typeFields .optionGroup .timers .timer-active {
    background-color: green;
    color: white;
}

.quizAnalytics {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quizAnalytics h1 {
    margin-bottom: 20px;
    color: #5076FF;
}

table {
    flex: 1;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: center;
    padding: 20px;
    /* border-bottom: 1px solid #ddd; */
    background: #5076FF;
    color: #FFFFFF;
}

td {
    text-align: center;
    padding: 20px;
    /* border-bottom: 1px solid #ddd; */
    /* Add a subtle border between rows */
}

tr:nth-child(even) td {
    background-color: #B3C4FF;
    /* Slightly lighter gray for even rows */
}

th:nth-child(5),
td:nth-child(5) {
    width: 40%;
    border: 1px solid black;
    /* Adjust the percentage as needed */
}